NEXT_PUBLIC_SUPABASE_URL=https://oxlnsstcbtzwmnmnhllx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94bG5zc3RjYnR6d21ubW5obGx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1NzE0ODMsImV4cCI6MjA4ODE0NzQ4M30.Giz4ikowlaowoO2PTBvLV4Nbz693PMtTTLjRbAGNCxc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im94bG5zc3RjYnR6d21ubW5obGx4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjU3MTQ4MywiZXhwIjoyMDg4MTQ3NDgzfQ.RR1ghQcqWMUNfoSpy0DzuzPYeXTw8qfSIIHJGnQTe4c
